{% extends 'base.html' %}

{% block title %}
    Add Student
{% endblock title %}

{% block body %}

<div class="form-wrapper">

    <div class="form-header">
        <h1>Add Student</h1>
        <p>Enter student details below</p>
    </div>

    <form method="POST" enctype="multipart/form-data" class="student-form">

        <div class="form-grid">

             <!-- Photo -->
            <div class="form-group">
                <label for="photo">Student Photo</label>
                <input
                    type="file"
                    id="photo"
                    name="photo"
                    accept="image/*"
                    required
                >
            </div>

            <div class="form-group"> 
            <label for="id">Student ID</label> 
            <input type="number" id="id" name="id" placeholder="Enter student ID" required > 
            </div>

            <!-- Name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter student name"
                    required
                >
            </div>

            <!-- Age -->
            <div class="form-group">
                <label for="age">Age</label>
                <input
                    type="number"
                    id="age"
                    name="age"
                    placeholder="Enter age"
                    min="1"
                    max="100"
                    required
                >
            </div>

            <!-- DOB -->
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input
                    type="date"
                    id="dob"
                    name="dob"
                    required
                >
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                    required
                >
            </div>

            <!-- STD -->
            <div class="form-group">
                <label for="course">Course</label>

                <select id="course" name="course" required>

                    <option value="">Select Course</option>
                    <option value="FSD">FSD</option>
                    <option value="AI Native Cohort">AI Native Cohort</option>
                    <option value="Intern Batch">Intern Batch</option>
                </select>

            </div>

        </div>

        <div class="form-actions">

            <a href="/" class="cancel-btn">
                Cancel
            </a>

            <button type="submit" class="submit-btn">
                Add Student
            </button>

        </div>

    </form>

</div>

{% endblock body %}